.HomePageLoggedIn {
    position: relative;
    background-image: url('../../images/jean-background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    overflow: visible;
}

.overflowing {
    overflow: visible !important;
}
