.HomePageLoggedOut {
    position: relative;
    background-color: #FEF5D6;
}

@font-face {
    font-family: 'VT323';
    src: url('/public/fonts/VT323-Regular.ttf') format('truetype'),
    url('/public/fonts/VT323-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}




body {
    margin: 0;
    font-family: 'VT323', monospace;
}
input, textarea, select, button {
    font-family: inherit;
}


.vertical-rectangle-left-teal {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 15vw; /* Adjust the width to your preference */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00826D; /* Change the color as needed */
}

.rotated-side_quest {
    transform: rotate(-90deg);
    transform-origin: center;
    margin-right: 30px;
    font-family: 'VT323', monospace; /* Assuming you have loaded the 'VT323' font-family */
    font-size: 13em; /* Adjust the font size as needed */
    color: white; /* Adjust the color as needed */
    white-space: nowrap; /* Ensure the text stays on one line */
}

.vertical-rectangle-right-brown {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 85vw; /* Adjust the width to your preference */
    height: 100vh;
    background-color: #FEF5D6; /* Change the color as needed */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers children vertically in the container */
    align-items: center; /* Aligns children to the start of the cross axis */

}

.wrapper-container {
    height: auto;
    width: 60vw;
}

.upper-container {
    flex-grow: 1;
    display: flex;

}

.upper-left-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

}

.upper-left-container-top {
    flex-grow: 2;
    margin-top: -30px;
    margin-right: 75px;

}

.logo-image-container {
    width: 100%; /* Full width of the container */
    height: 100%;
    overflow: hidden; /* Ensures that the image is cropped to the container */

    display: flex; /* Use flexbox for centering */
    justify-content: flex-start; /* Center horizontally */
    align-items: center;

}

.logo-image-container img {
    border: 7px solid #000;
    width: 100%; /* Full width of the container */
}



.upper-left-container-bottom {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
    margin-top: 15px

}

.login-form-container {
}

.upper-right-container {
    width: 100vw;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slogan {
    color: #000;
    text-align: right;
    font-family: 'VT323', monospace;
    font-size: 170px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.slogan-rectangle {
    margin-top: 200px;
    width: auto;
    height: 70vh;
}



.main-content h1 {
    font-size: 3em;
    color: #000;
    text-transform: uppercase;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    font-family: 'VT323', monospace;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    max-width: 250px;
    height: 40px;
    font-size: 30px;
}

.login-form input[type="text"] {
    margin-bottom: 15px;
    margin-top: -75px;
}

.login-form input,
.login-form button {
    margin-bottom: 15px;
    font-size: 30px;
}

.login-form button {
    cursor: pointer;
}

.login-error {
    font-family: 'VT323', monospace;
}

.buttons {
    border-radius: 7px;
    border: 2px solid #000;
    background: #FFF;
    color: #000;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 40px;
    width: auto;
    margin-top: -70px;
    margin-right: 50px;
}

.buttons:hover {
    background: #E0E0E0;
}

.lower-container {
    display: flex;
    height: auto;
    justify-content: space-evenly;
    padding: 20px;
    margin-bottom: 50px;
    margin-top: -45px;
}
