@font-face {
    font-family: 'VT323';
    src: url('/public/fonts/VT323-Regular.ttf') format('truetype'),
    url('/public/fonts/VT323-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.navbar {
    background: #00826D;
    height: 60px;
    display: flex;
    padding: 10px;
    align-items: center;
    position: fixed;
    box-shadow: 2px 4px 4px 1px rgba(0, 0, 0, 0.25) inset;
}

.navbar-container {
    display: flex;
    width: 100%;
    padding: 0 20px;
    justify-content: flex-start;

}

.navbar-logo {
    color: white;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 50px;
    display: flex;
    align-items: center;
    font-family: 'VT323', monospace;
    margin-top: -30px;
    margin-bottom: -10px;
}

.navbar-logo:hover {
    color: black;
}

.nav-menu {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: 'VT323', monospace;
}

.nav-item {
    margin-right: 20px;
    font-size: 34px;
    margin-top: 7px;
    font-family: 'VT323', monospace;
}

.nav-links {
    color: white;
    text-decoration: none;
    padding: 2.5rem 3rem;
}

.nav-links:hover {
    color: black;
    border-radius: 4px;
}

.profile-pic-item {
    margin-right: -3%;
}

.profile-pic {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    box-shadow: 2px 4px 4px 1px rgba(0, 0, 0, 0.25);
    margin-top: -14px;
}

.profile-pic:hover {
    border: 2px solid black;
    box-shadow: 2px 4px 4px 1px rgba(0, 0, 0, 0.25) inset;
}

