.carousel-item {

}




.quest-group-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.quest-container {
    flex: 0 0 auto;
    padding: 5px;
    margin: 10px;
    height: 200px;
    width: 200px;
    transition: transform 0.1s;
    box-sizing: border-box;
    position: relative;
    border: 3px solid white;
}

.quest-container:hover {
    z-index: 10;
    border: 3px solid #428673;
    transform: scale(1.1);
}

.quest-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: visible !important;
}

.quest-genre-name {
    margin-left: -7%;
}


.detail-panel {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5%;
    right: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #428673;
    background: rgba(0, 0, 0, 0.77);
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.1s ease-in-out;
    font-family: 'VT323', monospace;
    overflow: visible !important;
}


.quest-container:hover .detail-panel {
    visibility: visible;
    opacity: 1;
}

.quest-card-title {
    font-size: 24px;
    text-align: center;
    line-height: 1;
    width: 100%;
}

.quest-card-description {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 80%;
    text-align: center;
    margin-top: auto;
}

.carousel-control-prev {
    margin-right: 15%;
    margin-left: -5%;
    width: 50px;

}

.carousel-control-next {
    margin-right: -5%;
    margin-left: 15%;
    width: 50px;

}


.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 75%;
}

.carousel-control-prev-icon {
    margin-right: 50%;
}

.carousel-control-next-icon {
    margin-left: 50%;
}

.carousel-indicators {
    display: none !important;
}

.my-modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    font-size: 3em;
    font-family: 'VT323', monospace;
    color: white;
    padding: 10px 0; /* Add padding for better visual spacing */
    border-bottom: 1px solid #ccc;

}

.my-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

.my-modal-content {
    display: flex;
    flex-direction: column;
    position: relative;
    color: white;
    padding: 20px;
    border-radius: 0.1%;
    border: 1px solid white;
    width: 60%;
    height: 75%;
    font-family: 'VT323', monospace;
    background-image: url('../../images/jean-background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}



.close-modal-button {
    display: flex;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 35px;
    color: black;
    cursor: pointer;
    background-color: white;
}

.close-modal-button:hover {
    background-color: #428673;
    color: white;
}

.modal-body-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.modal-body-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.modal-body-left img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 3px solid white;
    margin-right: 7%;
}

.modal-body-left p{
    margin-top: 8%;
    font-size: 1.35em;
    text-align: center;
    margin-bottom: -5%;
    margin-right: 7%;
    width: 100%;
}

.my-modal-body-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.objectives-list {
    display: flex;
    flex-direction: column;
    justify-self: start;
    align-self: start;
    font-size: 1.35em;
    margin-top: 8%;
    margin-right: 7%;
    width: 100%;
    gap: 20px;
}

.track-quest-button,
.untrack-quest-button {
    border-radius: 7px;
    border: 4px solid black;
    background: #FFF;
    color: #000;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 1.55em;
    padding: 7px;
    cursor: pointer;
    margin-top: 17%;
    margin-bottom: 14%;
}

.track-quest-button:hover,
.untrack-quest-button:hover {
    background-color: #428673;
    color: white;
}





