html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

body {
    background:
        url('./images/jean-background.png') 60% 0% / 500px 500px repeat,
        linear-gradient(0deg, #FCF5D9 0%, #FCF5D9 100%),
        url("./images/jean_rotated.png") 100% / cover no-repeat,
        black;
}
