html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

body {
    background: url('./images/jean-background.png') no-repeat center center fixed;
    background-size: cover;
    padding-bottom: 20%;
    margin-bottom: 10%;
}